*.class

# Package Files #
*.jar
*.war
*.ear

# OSX metadata file
.DS_Store

# Intellij project files
*.iml
.idea

# Maven project.build.directory
target

# Eclipse project files
/target
/.settings
.classpath

